body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("/home-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
