.welcome {
  font-family: "Ysabeau SC", sans-serif;
  padding: 1.3em 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    text-decoration: underline;
    font-size: 1.1rem;
    color: crimson;
    text-decoration: white;
  }

  a:visited {
    color: crimson;
  }

  button {
    margin: 1em;
    width: 10em;
    padding: 1em;
    border: none;
    background-color: crimson;
    font-family: "Ysabeau SC", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }

  button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .intro {
    max-width: 50em;
    font-size: 1.1rem;
    padding: 0.2em;
    font-weight: 900;
  }

  .films {
    max-width: 50em;
    font-size: 0.9rem;
    padding: 0.6em;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.403);
  }

  .register {
    max-width: 50em;
    font-size: 0.9rem;
    padding: 0.6em;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.211);
  }

  img {
    width: 100vw;
    opacity: 0.5;
  }

  span {
    font-size: 10em;
    padding: 2vw 0 0 0;
  }
}
