.welcome {
  font-family: "Cinzel", serif;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-spacing: 0.2em;
  text-align: justify;

  a {
    text-decoration: underline;
    font-size: 1.1rem;
  }

  a:visited {
    color: white;
  }

  button {
    margin: 1em;
    padding: 1em;
    border-radius: 1rem;
    border: solid 0.2em white;
    background-color: transparent;
    color: white;
  }

  button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .intro {
    font-size: 1.1rem;
    padding: 0.2em;
    font-weight: 900;
  }

  .films {
    font-size: 0.9rem;
    padding: 0.6em;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.403);
  }

  .register {
    font-size: 0.9rem;
    padding: 0.6em;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.211);
  }
}
